.modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  margin: 10% auto;
  width: 800px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.form__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.img-container {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.img-container .form__label {
  font-size: 24px;
  font-weight: 600;
}

.form__img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.form__label {
  display: block;
  text-align: center;
}

.amount-container {
  grid-column: 3;
  grid-row: 1;
  margin-top: 50px;
  padding: 20px;
}

.amount-input {
  text-align: center;
}

.amount-input input {
  margin: 8px;
  padding: 10px;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.amount-input input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}

.amount-input input:hover {
  border-color: #999;
}

.amount-input button {
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  background-color: #202020;
  color: white;
}

.amount-input button:hover {
  opacity: 0.6;
}

.amount-input input::-webkit-outer-spin-button,
.amount-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount-input input {
  -moz-appearance:textfield;
}

.color-container {
  grid-column: 3;
  grid-row: 2;
  padding: 15px;
}

.color-picker {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
}

.color-option input {
  display: none;
}

.color-option label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.color-option input:checked + label {
  transform: scale(1.2);
}

.color-option input:checked + label::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.comment-container {
  grid-column: 1 / 4;
  grid-row: 3;
}

.comment {
  padding: 10px;
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  color: #333;
}

.comment:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}

.comment::placeholder {
  font-family: 'roboto', sans-serif;
}

.form__buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form__button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: #202020;
  color: white;
}

.form__button:hover {
  opacity: 0.6;
}