*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.body{
  position: relative;
  margin: auto;
  width: 100%;
  background: #f1f1f1;
  color: #000000;
  font-family: 'roboto', sans-serif;
}

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  background: #c5c5c5;
  box-shadow: 0 0 10px #c5c5c5;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 80px;
  margin: auto;
  align-items: center;
  background: #c5c5c5;
}

.company {
  position: relative;
  padding-right: 100px;
  font-weight: 500;
  font-size: 35px;
}

.links-container {
  display: flex;
  list-style: none;
}

.link {
  position: relative;
  margin: 0 10px;
  padding: 10px;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.link:hover:not(.active) {
  opacity: 0.6;
}

.link.active::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000000;
}

.theme-button {
  position: relative;
  padding: 10px 20px 10px 45px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: #202020;
  color: white;
}

.theme-button:hover {
  opacity: 0.6;
}

.theme-button::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 8px;
  left: 13px;
  transition: all 0.3s ease;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url(../img/theme-icons/day-theme-icon.png);
}

.foreword {
  margin: auto;
  padding-top: 80px;
}

.foreword__img {
  display: block;
  margin: auto;
  padding-top: 80px;
  width: 1280px;
}

.main{
  margin: auto;
  width: 1280px;
}

.section-container{
  padding-top: 80px;
}

.product-section {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.section-title {
  position: absolute;
  top: -30px;
  padding: 10px;
  font-size: 32px;
  background-color: #f1f1f1;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin: 30px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 30px 0;
  background-color: #c5c5c5;
}

.footer .company {
  margin: auto 0;
}

.footer .links-container{
  display: inline;
  font-size: 16px;
}

.terms {
  font-size: 15px;
  margin: auto 0;
}

.socials {
  width: 175px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("../img/social.svg");
}

.btn-up {
  position: fixed;
  display: flex;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.btn-up::before {
  content: "";
  width: 80px;
  height: 80px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("../img/arrow-up.png");
}

.btn-up__hide {
  display: none;
}

.btn-up__hiding {
  opacity: 0;
}

.preloader {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f1f1f1;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #000000;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}